header{
    background-color: @mainBlack;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1% 5%;

    .header-logo{
        width:7%;

        @media @medium{
           width:10%;
        }

        @media @mobil{
            width:20%
        }
    }

    .header-links{
        width: 20%;
        display: flex;
        justify-content: space-around;
        @media @large {
            width: 30%;
        }

        @media @medium{
           width:40%;
        }

        @media @tablet {
            width: 60%;
          }

        @media @mobil{
           width: 70%;
        }
        

        a{
            color: white;
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: capitalize;

            @media @mobil{
                font-size: 1.2rem;
            }
            
            &:hover{
                color: @mainColor;
            }
        }
    }
}